<!doctype html>
<html lang="en">
<head>
    <title>NASA Social Network</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div class=" container p-2 mb-3 bg-light rounded-3 text-center">
        <div class="container-fluid py-2">
            <img src="/assets/nasa-logo.png">
        </div><br>
        <div class="container-fluid py-2">
            <h1 class="display-5 fw-bold">NASA Social Network</h1>
        </div>
    </div>