<%- include('includes/head.ejs') %>
</head>

<body>
<div class="container text-center bg-light rounded-3">
    <h1>Some error occured!</h1>
    <p>Page Not Found!</p>
</div>

<%- include('includes/end.ejs') %>