<%- include('includes/head.ejs') %>
</head>

<body>

<div id="passwordDiv" class="container text-center bg-light rounded-3">
    <h3>Please fill the next fields</h3><br>
    <p class="text-danger"><%= message %></p>

    <div>
        <form action="/register/" method="POST" id="passwordForm">

        <label for="password">Enter password</label><br>
        <input type="password" class="w-25" id="password" name="password"
               placeholder="Password" pattern="[A-Za-z1-9]{8,32}" required><br><br>

        <label for="confirmPassword">Confirm password</label><br>
        <input type="password" class="w-25" id="confirmPassword" name="confirmPassword"
               placeholder="Confirm Password" pattern="[A-Za-z1-9]{8,32}" required><br><br>

        <a id="backBtn" class="btn btn-secondary" href="/register/add-details">Back</a>

        <input id="registerBtn" type="submit" class="btn btn-primary" value="Register">


        </form>
    </div><br>

    <p>Already registered? go to <a href='/'>login page</a></p>
</div>
<%- include('includes/end.ejs') %>
